.gg {
    word-spacing :40px;
    text-align-last: justify;
    color: #8a2be2;
    size: 3em;
    text-decoration: solid;
}

.op {
border: 5em;
border-radius: 20px;
border-color: black;
align-items: right;
}

img{
    align-self: start;
    align-items: flex-start;

}